<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LinkedIn Dashboards</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container d-flex justify-content-between align-items-center">
            <div>
                <a class="navbar-brand" href="#">Dashboard View</a>
            </div>
                
            <div class="mx-auto"> <!-- This div centers its contents horizontally -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dashboard Switcher
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'topVoiceDashboard' %}">Top Voice Dashboard</a>
                        <a class="dropdown-item" href="{% url 'averageMessagesPerUserType' %}">Message Dashboard</a>
                        <a class="dropdown-item" href="{% url 'passingDashboard' %}">Passing Percentage Dashboard</a>
                        <a class="dropdown-item" href="{% url 'mostPopularTeachersDashboard' %}">Most Popular Teachers Dashboard</a>
                        <a class="dropdown-item" href="{% url 'connectionsNetworkDashboard' %}">Connections Network Dashboard</a>
                        <a class="dropdown-item" href="{% url 'numberOfUsersPerCourse' %}">Number of Users Per Course Dashboard</a>
                        <a class="dropdown-item" href="{% url 'averageNumberOfMessagesByUser' %}">Average Number Of Users Dashboard</a>
                        <a class="dropdown-item" href="{% url 'topicsByPopularityDashboard' %}">Top Topics Dashboard</a>
                        <a class="dropdown-item" href="{% url 'minMaxSalaryByDepartmentDashboard' %}">Min Max Salary By Department</a>
                    </div>
                </div>
            </div>
            
            <div class="ml-auto"> <!-- This div aligns its contents to the right -->
                
                <button id="adminButton" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Back to Normal View
                </button>
            </div>
        </div>
    </nav>
    
    <br/>
    
    <div class="container">
        <div class="row">
            <div class="col">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script>
        document.getElementById("adminButton").addEventListener("click", function() {
            window.location.href = "/admin/";
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

