{% extends 'DashboardTemplates/base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {% if graph %}
          {{ graph|safe }}
        {% else %}
          <p>No graph was provided.</p>
        {% endif %}
      </div>
      <div class="col-md-6">
        <h2>Data Table</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>User Name</th>
              <th>1st Friends</th>
              <th>Mutual Friends</th>
              <th>Mutuals FAccID</th>
            </tr>
          </thead>
          <tbody>
            {% for index, row in df.iterrows %}
              <tr>
                <td>{{ row.USER_NAME }}</td>
                <td>{{ row.1stFriends }}</td>
                <td>{{ row.MutualFriends }}</td>
                <td>{{ row.MutualsFAccID }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
